<section class="section-1">
    <div *ngIf="integrationDetails; then insightsBlock else disclaimerBlock"></div>
    
    <ng-template #insightsBlock>
        <h4 >
            Live Insights
        </h4>
        <app-insights-grid [rowData]="insights" />
    </ng-template> 
    <ng-template #disclaimerBlock>
        <h4 >
            Connect to view live insights..
        </h4>
    </ng-template>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
            <div *ngIf="integrationDetails; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div class="container-details">
                    <div class="container-user" >
                        <mat-panel-title>
                            <span style="margin-right: 5px;">{{integrationDetails?.name}}'s</span>
                            <github-combined-logo />
                        </mat-panel-title>
                        <mat-icon class="green-icon" fontIcon="check_circle"></mat-icon>
                    </div>
                    <div class="container-sync-date">
                        <p>Admin: Last Synced: {{integrationDetails?.createdAt}}</p>
                        <span>Sync Type: full</span>
                    </div>
                </div>
            </ng-template>
        <ng-template #elseBlock>
          <mat-panel-title><github-combined-logo/></mat-panel-title>
        </ng-template>
        
      </mat-expansion-panel-header>
      <div *ngIf="integrationDetails; then thenExpandedBlock else elseExpandedBlock"></div>
        <ng-template #thenExpandedBlock>
            <div class="container-expanded-user">
                <div>
                    <app-repo-grid [rowData]="repos" (listUpdated)="onListUpdated()"></app-repo-grid>
                </div>
                <div class="remove-btn">
                    <button mat-flat-button color="primary" (click)="deleteIntegrationDetails()">Remove</button>
                </div> 
            </div>
        </ng-template>
        <ng-template #elseExpandedBlock>
            <div class="connect-container">
            <a href="http://localhost:3000/auth/github/connect">
                <button mat-flat-button  color="primary">Connect</button>
            </a>
            <p class="connect-to-text">Connect SRED.IO to Github</p>
            </div>
        </ng-template>
    </mat-expansion-panel>
</section>