.section-1{
    width: 1080px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

.connect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect-to-text {
    color: blue;
    font-size: large;
    margin-top: 20px;
}

.container-details{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    margin-right: 10px;
}

.container-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-expanded-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 8px;
}

.remove-btn{
    align-self: flex-end;
}

.container-sync-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:cadetblue;
    line-height: 0%;
}

.green-icon {
    color: green;
}

.button{
    background-color: blue;
    color: white;
}